@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');

:root {
  --primary-color: #6c7f55;
  --secondary-color: #e4612f;
  --text-color: #2e282a;
  --heading-color: #e4612f;
  --link-color: #2e282a;
  --link-hover-color: #e4612f;
  --form-background: #e1e2e1;

}

body {
  /* fallback system - tobb betutipus megadasa */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--text-color);
  padding-top: 75px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--heading-color);
}

a {
  color: var(--link-color);
}

a:hover,
a:focus {
  color: var(--link-hover-color);
}

em {
    font-style: italic;
}

strong {
    font-weight: 500;
}

.btn {
  margin-bottom: 5px;
}

.thumbnail {
  width: 90px;
  height: auto;
}

.login-form {
  padding: 15px;
  display: inline-block;
  background-color: var(--form-background);
}

.login-box {
  padding: 15px;
  border: solid 1px #ccc;
}

.login-box label {
  font-size: 0.85rem;
}

.login-box input {
  display: block;
  border: 1px solid #ccc;
  padding: 6px;
  margin-bottom: 15px;
}

.login-box .submit-btn {
  width: 100%;
  font-size: 1rem;
  border: 1px solid #ccc;
  padding: 6px 12px;
}

.login-box .submit-btn:focus,
.login-box .submit-btn:hover {
  background-color: #ccc;
}